@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.theme-light {
    --color-primary: white;
    --font-color: #000000;
    --blue-color: #3252df;
    --text-color: #212529;
    --nav-color: #152c5b;
    --svg-color: orange
}

.theme-dark {
    --color-primary: #12202f;
    --font-color: #ffffff;
    --blue-color: #ffffff;
    --text-color: #ffffff;
    --nav-color: #12202f;
    --svg-color: #CECDB8
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 26px;
    background-color: #313030;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    box-shadow: 1px 1px 1px 1px black;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    position: absolute;
    top: 3px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.5s linear;
}


/*  target the elemenent after the label*/

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: yellow;
}

.fa-sun {
    color: yellow;
}


/* :root {
    --primary-color: white;
    --secondary-color: #42408F
} */

section.navigation nav {
    width: 100%;
    box-shadow: 5px 5px 8px 5px #ecebeb;
}

section.navigation {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin-bottom: 5px;
    background-color: var(--nav-color);
    width: 100%;
    overflow-x: hidden;
}


/* underline link on div*/

a {
    text-decoration: none;
}

.nav-item.li {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.nav-item.li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #f7471e;
    transition: width 0.3s;
}

.nav-item.li:hover::after,
.nav-item.li.active::after {
    width: auto;
    color: white;
}

button.slick-arrow::before {
    background-color: #152c5b;
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: #152c5b;
    -webkit-text-stroke: #152c5b;
}

div.image-slider {
    border-radius: 30px;
    background-color: var(--color-primary);
    /* padding-right: 20px; */
    width: 10px;
}

section#kemampuan {
    background: var(--color-primary);
}

section.kemampuan div.card {
    background-color: var(--color-card, #ffffff);
    cursor: default;
    border-radius: 8px;
    box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
    height: 100%;
    min-height: 100px;
    justify-content: center;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

section#kontak {
    background: var(--color-primary);
}

div.chatImgWrapper {
    position: relative;
    height: 30px;
    font-weight: 700;
    line-height: 24px;
    text-indent: initial;
    cursor: pointer;
    color: var(--G500, #03ac0e);
}

.btn-floating span {
    display: flex;
    align-items: center;
    -moz-box-align: center;
}

button.btn-floating {
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-indent: initial;
    width: auto;
    background-position: center center;
    border: medium none;
    outline: currentcolor none medium;
    cursor: pointer;
    position: fixed;
    right: 70px;
    bottom: 0px;
    height: auto;
    padding: 6px 20px;
    box-shadow: 0 2px 6px 0 var(--N150, #b5bbc5);
    color: var(--G500, #03ac0e);
    border-radius: 20px;
    font-size: 16px;
    z-index: 100;
    transition: all 0.2s ease-in-out 0s;
    transform: translateY(-40px);
    opacity: 1;
    background-color: #ffffff;
}

section.mobile-navigation {
    display: none;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #ffffff;
    min-height: 50px;
    width: 100%;
    box-shadow: 1px 1px 10px 5px gray;
}

section.mobile-navigation div.active {
    width: 60px;
    height: 32px;
    background-color: #3252df;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99999;
    border: 3px solid #3252df;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #ff0080 #ffffff;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff0080;
    border-radius: 10px;
    border: 1px none #ff0080;
}

.fade-a {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0%;
    }
    10% {
        opacity: 10%;
    }
    20% {
        opacity: 20%;
    }
    30% {
        opacity: 30%;
    }
    40% {
        opacity: 40%;
    }
    50% {
        opacity: 50%;
    }
    60% {
        opacity: 60%;
    }
    70% {
        opacity: 70%;
    }
    80% {
        opacity: 80%;
    }
    90% {
        opacity: 90%;
    }
    100% {
        opacity: 100%;
    }
}

.bounce {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* background-color: #F44336;
    height: 200px;
    margin: 0 auto 0 auto; */
    transform-origin: bottom;
    /* width: 200px; */
}

.bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce-7 {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
        transform: scale(0.9, 1.1) translateY(-5px);
    }
    50% {
        transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-5px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    section.mobile-navigation {
        display: block;
        position: sticky;
        top: 0;
        left: 10px;
        right: 10;
        bottom: 10px;
        z-index: 999;
        background-color: #ffffff;
        min-height: 50px;
        width: 95%;
        padding: 0px 3px 3px 3px;
        border-radius: 30px;
        box-shadow: 0px 3px00 8px 3px rgb(187, 184, 184);
        overflow-y: visible;
        overflow-x: none;
        overflow-block: visible;
    }
    button.btn-floating {
        display: none;
    }
    button.navbar-toggler {
        display: none;
    }
    span.fa.fa-bars {
        display: none;
    }
    section.mobile-navigation div.center-button {
        background-color: #f52060;
        text-align: center;
        border-radius: 50%;
        height: 60px;
        width: 60px !important;
        position: relative;
        top: -33px;
        box-shadow: 0px -1px 2px 0px black;
        z-index: 99999;
    }
    section.mobile-navigation img.active {
        filter: brightness(0) invert(1);
    }
}

section.kemampuan div.image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 6px 0px 0px 6px;
    max-height: 50px;
}

section.kemampuan div.image img {
    width: 50% !important;
}

input.tanya[type="text"] {
    border-left: 5px solid #0ea2d3 !important;
    outline: none;
    background: white;
    border: 1.5px solid #0ea2d3;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 3px;
    outline: none;
    color: #f52060 !important;
    font-family: "Poppins", sans-serif;
}

textarea.tanya {
    border-left: 5px solid #0ea2d3 !important;
    outline: none;
    background: white;
    border: 1.5px solid #0ea2d3;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 3px;
    outline: none;
    color: #f52060 !important;
    font-family: "Poppins", sans-serif;
}

input.tanya::placeholder {
    color: #fa88aa !important;
}

textarea.tanya::placeholder {
    color: #fa88aa !important;
}

section.contact div.container {
    box-shadow: 0 2px 6px 0 var(--N150, #b5bbc5);
    background-color: #ffffff;
}

section.contact {
    background-color: var(--color-primary);
}

section.kemampuan div.image img {
    width: 80%;
    height: auto;
    object-fit: contain;
    border-radius: 6px 0px 0px 6px;
}

section.kemampuan div.text-wrap {
    margin-left: 20px;
    width: 100%;
    justify-content: center;
}

section.kemampuan div.text-wrap h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1.14286rem;
    font-weight: 800;
    text-transform: capitalize;
    color: rgba(49, 53, 59, 0.96);
    /* color: var(--color-primary); */
    /* color: var(--font-color); */
    margin: 0px 0px 8px;
    line-height: 22px;
    max-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    overflow: hidden;
}

div.image-slider img {
    border-radius: 30px;
}

section.navigation a.nav-link {
    color: white !important;
    font-weight: 400 !important;
    letter-spacing: 1px;
}

section.navigation a.nav-link.button {
    background-color: #3252df;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    max-width: 100px;
    text-align: center;
    margin-top: 2px;
}

section.navigation.active a {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 500;
}

section.navigation.active a:hover {
    font-family: "Poppins", sans-serif;
}

section.navigation a.navbar-brand:hover {
    font-family: "Poppins", sans-serif;
    color: #3252df;
}

section.navigation a.navbar-brand {
    font-family: "Poppins", sans-serif;
    color: #3252df;
    font-size: 26px;
    font-weight: 500;
}

section.navigation a.navbar-brand span.kurniadi {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    color: white !important;
    font-weight: 500;
}

section.navigation.active a.navbar-brand {
    font-family: "Poppins", sans-serif;
    color: #3252df;
    font-size: 26px;
}

section.navigation.active a.navbar-brand span.kurniadi {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    color: white !important;
}

section.navigation.active {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin-bottom: 10px;
    background-color: var(--nav-color);
    /* background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
}

section.portfolio button.button-more {
    background-color: #ff498b;
    border-radius: 30px;
    box-shadow: "1px 2px 2px grey";
    font-size: "Poppins", sans-serif;
    color: white;
    text-align: center;
    width: 100px;
    font-weight: 500;
}

svg#circles {
    fill: var(--svg-color);
}

footer.footers {
    background-color: var(--nav-color);
    text-align: left;
    position: static;
    bottom: 0;
    min-height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding: 0 0 0 2; */
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 12pt;
}

footer li a {
    color: white;
    text-decoration: none;
}

footer li a:hover {
    color: yellow;
    text-decoration: none;
}

footer a.footer-brand {
    margin-top: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: #3252df;
    text-decoration: none;
}

footer h4 {
    margin-top: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

footer p {
    color: #007bff;
    /* text-shadow: 0px 0px white; */
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 10pt;
}

footer div.first {
    border-right: 2px solid yellow;
    min-height: 200px;
    margin-top: 25px;
}

footer div.set2 {
    justify-content: center;
    background-color: red;
    width: 20%;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer a.footer-brand span {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: white;
}

nav div#navbarSupportedContent a {
    color: #3252df;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

section.navigation.active nav div#navbarSupportedContent a {
    color: #3252df;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

div.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4;
}

div.Typewriter {
    font-size: 25px;
    color: #3252df;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

section.hero {
    background: var(--color-primary);
}

section#portfolio {
    background: var(--color-primary);
}

section.hero h5 {
    color: #f7471e;
    font-family: "Poppins", sans-serif;
}

section.hero p {
    font-family: "Poppins", sans-serif;
    font-size: 10pt;
    color: var(--text-color);
}

div.tagli {
    background: var(--color-primary);
}

section#tentang {
    background: var(--color-primary);
}

section.tagline h4 {
    font-family: "Poppins";
    font-size: 20px;
    color: #3252df;
    font-weight: 500;
    text-align: center;
}

section.tagline p {
    font-family: "Poppins";
    font-size: 18px;
    color: var(--text-color);
}

section.tagline div.lines {
    margin-top: 35px;
    width: 200px;
    height: 3px;
    border-radius: 30px;
    background-color: YELLOW;
}

section.line {
    width: 100%;
    height: 20px;
    background-color: #3252df;
    /* opacity: 20% !important; */
}


/*---- Main Style ----*/

#cards_landscape_wrap-2 {
    text-align: center;
    background: #f7f7f7;
}

#cards_landscape_wrap-2 .container {
    padding-top: 50px;
    padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
    border-top-left-radius: 5px;
    border-top-right-radius: 15px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
    background: var(--color-primary);
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 15px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
    transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    width: 100%;
    height: 200px;
    background: var(--color-primary);
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
    text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 30px 18px;
    min-height: 200px;
}

#cards_landscape_wrap-2 .card-flyer {
    background: #ffffff;
    margin-top: 40px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

#cards_landscape_wrap-2 .card-flyer:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    color: #002855;
}

div.card-flyer div.tag {
    z-index: 3;
    font-size: 0.875rem;
    background-color: #ff498b;
    padding: 0.25rem 0.25rem;
    position: absolute;
    top: 9;
    right: 0;
    margin-right: 15px;
    color: #fff;
    min-height: 30px;
    border-radius: 2px 2px;
    font-weight: 400;
    font-family: "Poppins";
}